.nav-ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     background-color: aqua;
     overflow: hidden;
}

li{
     display: inline;
     float: right;
}

li a {
     display: block;
     padding: 8px;
     
   }